html {
    font-size: 20px;
}

body {
    font-size:1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.resume {
    background-color: cadetblue;
}

.grid-container {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 100%;
}
.resume h1 {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.resume h2 {
    font-size: 1rem;
}

.center {
    text-align: center;
}
.pictures {
    display:block;
    margin-right: 1%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 50%;
}

#responsive-menu {
    background-color: black;
}

#top-menu-bar {
    background-color: black;
    color:white;
}
.is-submenu-item{
    background-color: black;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-top-color: white;
}
#top-menu-bar a {
    color:beige
}
.sides {
    background-color: white;
}