<P STYLE='text-indent:.25in'>This is a mat_html table.</P>
<TABLE STYLE='width: auto; margin: auto; border-collapse: collapse; text-align: center'>
  <TR>
    <TD ROWSPAN=2 STYLE='padding: 4px; vertical-align: bottom; border: 1px solid black; border-bottom: double windowtext 4px'>Category</TD>
    <TD COLSPAN=4 STYLE='padding: 4px; vertical-align: bottom; border: 1px solid black'>Types</TD>
  </TR>
  <TR>
    <TD STYLE='padding: 4px; vertical-align: bottom; border: 1px solid black; border-bottom: double windowtext 4px'>Fruit</TD>
    <TD STYLE='padding: 4px; vertical-align: bottom; border: 1px solid black; border-bottom: double windowtext 4px'>Animal</TD>
    <TD STYLE='padding: 4px; border: 1px solid black; border-bottom: double windowtext 4px'>Sport
      <BR>event</TD>
    <TD STYLE='padding: 4px; border: 1px solid black; border-bottom: double windowtext 4px'>People
      <BR>names</TD>
  </TR>
  <TR>
    <TD STYLE='padding: 4px; border: 1px solid black; text-align: left'>Bravo</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Banana</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Buffalo</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Baseball</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Bruce</TD>
  </TR>
  <TR>
    <TD STYLE='padding: 4px; border: 1px solid black; text-align: left'>Charlie<SUP>2+</SUP></TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Cherry</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Camel</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>Croquet</TD>
    <TD STYLE='padding: 4px; border: 1px solid black'>&#8212;</TD>
  </TR>
</TABLE>
<BR>
<BR>
<P STYLE='font-size:8.0pt;font-family:"Helvetica","sans-serif"'>This is the end of the table.</P>



<button (click)="openDialog()">Open dialog</button>

<router-outlet></router-outlet>
